/* BASIC STYLES HERE */

.addlistbutton{
  background-color: #00f4fb;
}

body{
background-color: #190030;
}

h1{
  color: #ff00e3;
  font-family: 'Geometri Outine', sans-serif;                                                                                                               
}